mixin sectionHeading(props = {})
  - const colors = ["dark", "light"];

  - const rootClassName = "section-heading";
  - const className = props.class || null;
  - const style = props.style || null;
  - const color = colors.includes(props.color) ? props.color : colors[0];
  - const heading = props.heading || [];
  - const description = props.description || null;
  -
    const classes = [
      rootClassName,
      {[`${rootClassName}:color-${color}`]: color},
      className
    ];
  div(
    class = classes 
    style = style
  )
    +typography({
      class: `${rootClassName}__heading`,
      as: "h3", 
      variant: "h3"
    }) 
      each str in heading
        span
          span #{str}
    if description
      +typography({
        class: [`${rootClassName}__description`, "mt-16", "sm:mt-4"],
        as: "p", 
        variant: "body-large"
      }) 
        | #{description}