include slide/slide.pug

mixin slider(props = {})
  - const rootClassName = "slider";
  - const className = props.class || null;
  - const id = props.id || null;
  - const style = props.style || null;
  - const navigation = props.navigation ?? true;
  - const pagination = props.pagination ?? true;
  -
    const classes = [
      rootClassName,
      className
    ];

  div(
    class = classes
    style = style
  )
    div(
      class = [
        `${rootClassName}__main`,
        "display-flex", 
        "align-items-center",
        "mb-24"
      ]
    )
      if navigation
        +button({
          class: [`${rootClassName}__nav-button`, "button-prev"],
          size: "md",
          icon: "chevron-left"
        })

      div(class = [`${rootClassName}__track`, "swiper"] id = id)
        div(class = "swiper-wrapper")
          block

      if navigation
        +button({
          class: [`${rootClassName}__nav-button`, "button-next"],
          size: "md",
          icon: "chevron-right"
        })

    if pagination
      div(
        class = [
          `${rootClassName}__pagination`,
          "display-flex", 
          "justify-content-center"
        ]
      )