include slide/slide.pug

mixin slider(props = {})
  - const rootClassName = "slider";
  - const className = props.class || null;
  - const id = props.id || null;
  - const style = props.style || null;
  - const navigation = props.navigation ?? true;
  - const pagination = props.pagination ?? true;
  -
    const classes = [
      rootClassName,
      className
    ];

  div(
    class = classes
    style = style
  )
    // Start: [stack/slider__main] 
    +stack({
      class: [
        `${rootClassName}__main`,
        "align-items-center",
        "mb-64",
        "px-80",
        "sm:flex-direction-column",
        "sm:px-0",
        "sm:mb-44"
      ]
    })
      // Start: [slider__track] 
      div(
        class = [
          `${rootClassName}__track`, 
          "swiper", 
          "sm:mb-24"
        ] 
        id = id
      )
        div(class = "swiper-wrapper")
          block
      // End: [slider__track] 

      // Start: [stack/slider__navigation] 
      if navigation
        +stack({
          class: [
            `${rootClassName}__navigation`,
            "sm:justify-content-center"
          ]
        })
          +button({
            class: [
              `${rootClassName}__nav-button`,
              "button-prev"
            ],
            size: "md",
            icon: "chevron-left"
          })

          +button({
            class: [
              `${rootClassName}__nav-button`,
              "button-next"
            ],
            size: "md",
            icon: "chevron-right"
          })
      // End: [stack/slider__navigation] 
    // End: [stack/slider__main] 

    // Start: [stack/slider__pagination] 
    if pagination
      +stack({
        class: [
          `${rootClassName}__pagination`,
          "justify-content-center"
        ]
      })
    // End: [stack/slider__pagination] 