mixin sectionTrial(props = {})
  - const rootClassName = "section-trial";
  - const className = props.class || null;
  - const style = props.style || null;
  - const heading = props.heading || [];
  - const description = props.description || "";
  - const inputPlaceholder = props.inputPlaceholder || "";
  - const buttonLabel = props.buttonLabel || "";
  - const items = props.items || [];
  -
    const classes = [
      rootClassName,
      className,
      "text-align-center",
      "mt-32",
      "mb-96",
      "sm:mb-32"
    ];

  section(
    class = classes
    style = style
  )
    
    // Start: [container] 
    +container()

      // Start: [stack/section-trial__wrapper] 
      +stack({
        class: [
          `${rootClassName}__wrapper`,
          "flex-direction-column",
          "py-64",
          "px-24",
          "sm:py-24"
        ]
      })

        // Start: [grid] 
        +grid({class: "justify-content-center"})
          
          // Start: [column-5] 
          +column({
            class: [
              "column-5",
              "lg:column-10", 
              "sm:column-12"
            ]
          })
            
            // Start: [section-heading] 
            +sectionHeading({
              class: "mb-24",
              heading: heading,
              description: description,
              color: "light"
            })
            // End: [section-heading] 
            
            // Start: [stack/section-trial__form] 
            +stack({
              class: [
                `${rootClassName}__form`,
                "mb-24",
                "sm:flex-direction-column"
              ]
            })

              // Start: [text-field/section-trial__text-field] 
              +textField({
                class: `${rootClassName}__text-field`, 
                placeholder: inputPlaceholder
              })
              // End: [text-field/section-trial__text-field] 
              
              // Start: [button/section-trial__button] 
              +button({
                class: `${rootClassName}__button`, 
                label: buttonLabel,
                size: "md",
                variant: "primary-black"
              })
              // End: [button/section-trial__button] 
            // End: [stack/section-trial__form] 
            
            // Start: [stack/section-trial__items] 
            +stack({
              class: [
                `${rootClassName}__items`, 
                "justify-content-center",
                "sm:flex-direction-column"
              ]
            })
              each item in items
                // Start: [stack/trial-item] 
                +stack({
                  class: [
                    "trial-item",
                    "align-items-center"
                  ]
                })
                  +icon({
                    class: [
                      "trial-item__icon",
                      "mr-12"
                    ], 
                    icon: "check"
                  })
                  +typography({variant: "body-small"})
                    | #{item}
                // End: [stack/trial-item] 
            // End: [stack/section-trial__items] 
          // End: [column-5] 
        // End: [grid] 
      // End: [stack/section-trial__wrapper] 
    // End: [container] 