mixin footer(props = {})
  - const rootClassName = "footer";
  - const className = props.class || null;
  - const style = props.style || null;
  - const menuGroups = props.menuGroups || [];
  - const social = props.social || [];
  - const copyright = props.copyright || "";
  -
    const classes = [
      rootClassName,
      className,
      "py-64",
      "sm:py-32"
    ];

  footer(
    class = classes
    style = style
  )
    // Start: [container] 
    +container()

      // Start: [grid] 
      +grid({class: "justify-content-space-between"})

        // Start: [column-2] 
        +column({class: "column-2"})
          +logo({
            class: "md:mb-24", 
            variant: "light"
          }) 
        // End: [column-2] 

        // Start: [column-8] 
        +column({
          class: [
            "column-8", 
            "lg:column-10",
            "md:column-12"
          ]
        })
          // Start: [footer__nav] 
          nav(
            class = [
              `${rootClassName}__nav`, 
              "display-flex", 
              "justify-content-space-between",
              "md:justify-content-flex-start",
              "sm:flex-direction-column",
              "flex-wrap-wrap"
            ]
          )
            each menu, groupTitle in menuGroups
              // Start: [footer__nav-group] 
              ul(class = `${rootClassName}__nav-group`)
                +typography({
                  class: [
                    `${rootClassName}__nav-title`,
                    "mb-8"
                  ],
                  variant: "body-large",
                  weight: "semibold"
                }) #{groupTitle}
                each item in menu
                  li(class = `${rootClassName}__nav-item`)
                    a(
                      class = `${rootClassName}__nav-link` 
                      href = item.link
                    ) 
                      | #{item.label}
              // End: [footer__nav-group]
          // End: [footer__nav] 
        // End: [column-8] 
      // End: [grid] 
    // End: [container]

    // Start: [container] 
    +container()
      // Start: [stack/footer__bottom] 
      +stack({
        class: [
          `${rootClassName}__bottom`,
          "justify-content-space-between",
          "align-items-center",
          "flex-wrap-wrap",
          "pt-32",
          "mt-32"
        ]
      })
        +typography({
          class: [
            `${rootClassName}__copyright`, 
            "sm:mb-24"
          ], 
          variant: "body-default"
        })
          | !{copyright}

        // Start: [stack/footer__social-links] 
        +stack({class: `${rootClassName}__social-links`})
          each item in social
            a(
              class = [
                `${rootClassName}__social-link`,
                "display-flex",
                "align-items-center",
                "justify-content-center"
              ] 
              href = item.link
            )
              +icon({icon: item.title})
        // End: [stack/social__links] 
      // End: [stack/footer__bottom] 
    // End: [container]